.footer {
    height: 100%;
    /* background-color: #f4f4f4; */
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border-top: 0.5px solid #f4f4f4;
}

.footer span {
    color: black;
    text-align: center;
}