<div id="topbar">
    <button (click)="doSketch('point')" class="action-button esri-icon-blank-map-pin" id="pointButton" type="button" title="点"></button>
    <button (click)="doSketch('polyline')" class="action-button esri-icon-polyline" id="polylineButton" type="button" title="线"></button>
    <button (click)="doSketch('polygon')" class="action-button esri-icon-polygon" id="polygonButton" type="button" title="多边形"></button>
    <button (click)="doSketch('rectangle')" class="action-button esri-icon-checkbox-unchecked" id="rectangleButton" type="button" title="矩形"></button>
    <button (click)="doSketch('circle')" class="action-button esri-icon-radio-unchecked" id="circleButton" type="button" title="圆形"></button>
    <button (click)="resetBtn()" class="action-button esri-icon-trash" id="resetBtn" type="button" title="清除"></button>
</div>