<div class="container">
    <div class="title">
        <div class="logo">
            <img src="../../../../../assets/layout/login/zhup.png" />
            <!-- <img src="../../../../../assets/layout/login/zhup.png" /> -->
            <!-- <span style="font-weight: bolder;font-size: 24px;">
                城市信息模型三维可视化平台
             </span> -->
            <span style="font-weight: bolder;font-size: 22px;">
                珠海市轨道交通运营安全监管平台
             </span>
        </div>
    </div>
    <div class="inset">
        <!--登录组件-->
        <app-passport1></app-passport1>
    </div>
    <!--底部-->
    <div class="footer">
        <span>建议使用谷歌浏览器(Google Chrome)、IE9及以上版本浏览器</span>
    </div>
</div>