<div class="info">
    <nz-divider nzText="自定义范围查询" style="color: blue;font-size:18px;"></nz-divider>
    <!-- 图层、属性选择控件 -->
    <!-- <app-layer-choose style="margin-top: 7%;" [statue]="statue" [nodes]="nodes" (urlSend)="getUrl($event)" (optionListSend)="getOptionList($event)" (queryValueSend)="getqueryValue($event)" (curentValueSend)="getcurentValue($event)"></app-layer-choose><br> -->

    <!-- 空间范围 -->
    <!-- <div class="layer" nz-row>
        <span nz-col [nzSpan]="7">空间范围：</span>
        <app-map-sketch></app-map-sketch>
    </div> -->

    <br>

    <!-- 高级查询控件 -->
    <!-- <app-advance-query style="margin-top: 2%;" [optionList]="optionList" (queryValueSend)="getqueryValue($event)"></app-advance-query><br> -->

    <!-- 查询、清除按钮 -->
    <!-- <div class="layer" nz-row>
        <button nz-button nzType="primary" [nzSize]="'default'" nz-col nzSpan="11" (click)="doQuery()"><i nz-icon nzType="search" nzTheme="outline"></i><span>查询</span></button>
        <button nz-button nzType="default" [nzSize]="'default'" nz-col nzSpan="11" nzOffset="2" (click)="cleanHighlight()"><i nz-icon nzType="delete" nzTheme="outline"></i><span>清除</span></button>
    </div> -->
</div>