.login-form {
    margin-top: 15px;
    width: 100%;
    position: absolute;
    padding: 30px;
}

.login-form-margin {
    margin-bottom: 20px;
}

.login-form-forget {
    float: right;
    color: white;
}

.login-form-button {
    width: 100%;
}